googlesearch-python

openai
# not tomli
toml
# not speech_recognition
SpeechRecognition
# pyglet # unnecessary
# not "whisper"
openai-whisper
rich
elevenlabs
# not pyaudio
PyAudio
arrow

pytest

pint
pandas
numpy
sympy
humanize
arrow